<form [formGroup]="handleBookFormClass.bookForm" (ngSubmit)="onBookSubmit($event)">
  <ion-grid>
    <ion-row>
      <ion-col offsetSm="0" sizeSm="12" offsetMd="2" sizeMd="8" offsetLg="2" sizeLg="8" offsetXs="0" sizeXs="12">
        <ion-item>
          <ion-label position="floating">Titutlo</ion-label>
          <ion-input type="text" formControlName="book_title" required autofocus></ion-input>
        </ion-item>
      </ion-col>
      <ion-col offsetSm="0" sizeSm="12" offsetMd="2" sizeMd="8" offsetLg="2" sizeLg="8" offsetXs="0" sizeXs="12">
        <ion-item>
          <ion-label position="floating">Editorial</ion-label>
          <ion-input type="text" formControlName="book_editorial" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col offsetSm="0" sizeSm="12" offsetMd="2" sizeMd="8" offsetLg="2" sizeLg="8" offsetXs="0" sizeXs="12">
        <ion-item>
          <ion-label position="floating">Saga</ion-label>
          <ion-input type="text" formControlName="book_saga" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col offsetSm="0" sizeSm="12" offsetMd="2" sizeMd="8" offsetLg="2" sizeLg="8" offsetXs="0" sizeXs="12">
        <ion-item>
          <ion-label position="floating">Precio</ion-label>
          <ion-input type="number" formControlName="book_price" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col offsetSm="0" sizeSm="12" offsetMd="2" sizeMd="8" offsetLg="2" sizeLg="8" offsetXs="0" sizeXs="12">
        <ion-item>
          <ion-label position="floating">Precio Descuento</ion-label>
          <ion-input type="number" formControlName="book_price_dis" ></ion-input>
        </ion-item>
      </ion-col>

      <ion-col offsetSm="0" sizeSm="12" offsetMd="2" sizeMd="8" offsetLg="2" sizeLg="8" offsetXs="0" sizeXs="12">
        <ion-item lines="none">
          <ion-button  type="submit"  fill="outline" color="primary" [disabled]="handleBookFormClass.bookForm.invalid" slot="end">Guardar</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</form>
