<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--  <app-book-form (onFormSubmit)="onSubmitForm($event)"></app-book-form>-->
  <ion-grid>
    <ion-row>
      <ion-col offsetMd="2" sizeMd="8">
        <app-book-list [books$]="books$" [eventButton]="executePop"></app-book-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>